* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
html, body {
    height: 100%;
}
body {
    background: linear-gradient(180deg, #0837B0, #021E66) no-repeat;
}
#root, #root>div {
    height: inherit;
}
.container {
    width: 300px;
    padding: 0;
}
.counter-container {
    height: 300px;
    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.counter {
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 176px;
    color: #000000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.btn {
    padding: 0 0;
}
.btn-container button {
    width: 65px;
    height: 65px;
    border-radius: 4px;
}
.btn-container button:active {
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7);
}
.btn-counter {
    padding: 34px 13px 0;
}
.btn-load {
    padding: 34px 65px 0;
}
.btn-inc {
    background: #089C20;
}
.btn-inc::after {
    content: url('img/Plus.svg');
}
.btn-dec {
    background: #E7AA10;
}
.btn-dec::after {
    content: url('img/Minus.svg');
}
.btn-rst {
    background: #CF1C1C;;
}
.btn-rst::after {
    content: url('img/Reset.svg');
}
.btn-dwnld {
    background: #30D9CF;
}
.btn-dwnld::after {
    content: url('img/Download.svg');
}
.btn-upld {
    background: #9B0F9E;
}
.btn-upld::after {
    content: url('img/Upload.svg');
}
.btn::after {
    -webkit-filter: drop-shadow( 5px 5px 3px rgba(0, 0, 0, .25));
    filter: drop-shadow( 5px 5px 3px rgba(0, 0, 0, .25));
}